<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>


  <%= javascript_include_tag 'application', 'data-no-turbolinks' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-no-turbolinks' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

  

  
</head>
<body>

<!-- Always shows a header, even in smaller screens -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!--Title-->
      <a href="/"><span class="mdl-layout-title"><p class="jumbo-font-2">Auraphonics</p></span></a>
      <!--Add spacer, to align navigation to the right-->
      <div class="mdl-layout-spacer"></div>
      <!--Navigation, we hide it in a small screen-->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="https://soundcloud.com/auraphonics"><i class="fa fa-soundcloud small"></i></a>
        <a class="mdl-navigation__link" href="https://www.youtube.com/channel/UCLVygN_eQaXmjnIdSDSJ7-Q"><i class="fa fa-youtube small"></i></a>
        <a class="mdl-navigation__link" href="https://www.facebook.com/auraphonics"><i class="fa fa-facebook small"></i></a>
        <a class="mdl-navigation__link" href="https://twitter.com/auraphonics"><i class="fa fa-twitter small"></i></a>
        <a class="mdl-navigation__link" href="https://instagram.com/auraphonics/"><i class="fa fa-instagram small"></i></a>
        <a class="mdl-navigation__link" href="https://plus.google.com/110971580499555872126"><i class="fa fa-google-plus small"></i></a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Submit</a>
      <a class="mdl-navigation__link" href="/contact">Contact</a>
      <a class="mdl-navigation__link" href="">Donate</a>
    </nav>
  </div>
  <main class="mdl-layout__content" style="height:100%">
    <div class="page-content w2-tab-center" style="height:100%"><%= yield %></div>
  </main>
</div>

</body>
</html>
